# Example sentinel.conf

# redisio Cookbook additions
{% if job_control == 'initd' or job_control == 'rcinit' %}
daemonize yes
{% endif %}
pidfile {{ piddir }}/sentinel_{{ name }}.pid
loglevel {{ loglevel }}
syslog-enabled {{ syslogenabled }}
syslog-ident redis-{{ name }}
syslog-facility {{ syslogfacility }}
maxclients {{ maxclients }}
{% if logfile is defined %}logfile {{ logfile }}{% endif %}
{% if sentinel_bind is defined %}bind {{ sentinel_bind }}{% endif %}
{% if protected_mode is defined %}protected-mode {{ protected_mode }}{% endif %}
port {{ sentinel_port }}

# sentinel announce-ip and port
{% if announce_ip is defined %}sentinel announce-ip {{ announce_ip }}{% endif %}
{% if announce_port is defined %}sentinel announce-port {{ announce_port }}{% endif %}

# sentinel monitor entries
{% for current in masters %}
{% set calc_name = current.master_name | default(name) | default('master_name') %}
sentinel monitor {{ calc_name }} {{ current.master_ip }} {{ current.master_port }} {{ current.quorum_count }}
{% endfor %}

# sentinel auth-pass entries
{% for current in masters %}
{% set calc_name = current.master_name | default(name) | default('master_name') %}
{% if current.auth_pass is defined %}sentinel auth-pass {{ calc_name }} {{ current.auth_pass }}{% endif %}
{% endfor %}

{% if version_major is defined and version_major|int >= 6 %}
# Using an external ACL file
{% if aclfile is defined %}aclfile {{ aclfile }}{% endif %}
{% endif %}

# sentinel down-after-milliseconds
{% for current in masters %}
{% set calc_name = current.master_name | default(name) | default('master_name') %}
{% if current.down_after_milliseconds is defined %}sentinel down-after-milliseconds {{ calc_name }} {{ current.down_after_milliseconds }}{% endif %}
{% endfor %}

# sentinel parallel-syncs
{% for current in masters %}
{% set calc_name = current.master_name | default(name) | default('master_name') %}
{% if current.parallel_syncs is defined %}sentinel parallel-syncs {{ calc_name }} {{ current.parallel_syncs }}{% endif %}
{% endfor %}

# sentinel failover-timeout
{% for current in masters %}
{% set calc_name = current.master_name | default(name) | default('master_name') %}
{% if current.failover_timeout is defined %}sentinel failover-timeout {{ calc_name }} {{ current.failover_timeout }}{% endif %}
{% endfor %}

# Notification script
{% if notification_script is defined %}sentinel notification-script {{ name }} {{ notification_script }}{% endif %}

# Client reconfig script
{% if client_reconfig_script is defined %}sentinel client-reconfig-script {{ name }} {{ client_reconfig_script }}{% endif %}

# TLS/SSL settings
{% if tlsport is defined %}tls-port {{ tlsport }}{% endif %}
{% if tlscertfile is defined %}tls-cert-file {{ tlscertfile }}{% endif %}
{% if tlskeyfile is defined %}tls-key-file {{ tlskeyfile }}{% endif %}
{% if tlskeyfilepass is defined %}tls-key-file-pass {{ tlskeyfilepass }}{% endif %}
{% if tlsclientcertfile is defined %}tls-client-cert-file {{ tlsclientcertfile }}{% endif %}
{% if tlsclientkeyfile is defined %}tls-client-key-file {{ tlsclientkeyfile }}{% endif %}
{% if tlsclientkeyfilepass is defined %}tls-client-key-file-pass {{ tlsclientkeyfilepass }}{% endif %}
{% if tlsdhparamsfile is defined %}tls-dh-params-file {{ tlsdhparamsfile }}{% endif %}
{% if tlscacertfile is defined %}tls-ca-cert-file {{ tlscacertfile }}{% endif %}
{% if tlscacertdir is defined %}tls-ca-cert-dir {{ tlscacertdir }}{% endif %}
{% if tlsauthclients is defined %}tls-auth-clients {{ tlsauthclients }}{% endif %}
{% if tlsreplication is defined %}tls-replication {{ tlsreplication }}{% endif %}
{% if tlscluster is defined %}tls-cluster {{ tlscluster }}{% endif %}
{% if tlsprotocols is defined %}tls-protocols "{{ tlsprotocols }}"{% endif %}
{% if tlsciphers is defined %}tls-ciphers {{ tlsciphers }}{% endif %}
{% if tlsciphersuites is defined %}tls-ciphersuites {{ tlsciphersuites }}{% endif %}
{% if tlspreferserverciphers is defined %}tls-prefer-server-ciphers {{ tlspreferserverciphers }}{% endif %}
{% if tlssessioncaching is defined %}tls-session-caching {{ tlssessioncaching }}{% endif %}
{% if tlssessioncachesize is defined %}tls-session-cache-size {{ tlssessioncachesize }}{% endif %}
{% if tlssessioncachetimeout is defined %}tls-session-cache-timeout {{ tlssessioncachetimeout }}{% endif %}

# Includes
{% if includes is defined %}
{% for include_option in includes %}
include {{ include_option }}
{% endfor %}
{% endif %}
