bind {{ cache_redis_bind }}
port {{ redis_port }}
daemonize no
supervised systemd
pidfile /run/{{ redis_service_name }}.pid
logfile "{{ cache_redis_log_dir }}/{{ redis_service_name }}.log"
dbfilename dump.rdb
dir {{ cache_redis_config_dir }}
maxmemory {{ cache_redis_maxmemory }}
appendonly yes
{% if cache_redis_password | length > 0 %}
requirepass {{ cache_redis_password }}
{% endif %}
