[Unit]
Description=Redis instance {{ item_redis_service.name }}
After=network.target

[Service]
Type=notify
User=redis
Group=redis
ExecStart=redis-server /etc/redis/{{ item_redis_service.port }}.conf
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
