# Redis configuration file example.

# Note on units: when memory size is needed, it is possible to specify
# it in the usual form of 1k 5GB 4M and so forth:
#
# 1k => 1000 bytes
# 1kb => 1024 bytes
# 1m => 1000000 bytes
# 1mb => 1024*1024 bytes
# 1g => 1000000000 bytes
# 1gb => 1024*1024*1024 bytes
#
# units are case insensitive so 1GB 1Gb 1gB are all the same.

# By default Redis does not run as a daemon. Use 'yes' if you need it.
# Note that Redis will write a pid file in /var/run/redis.pid when daemonized.
{% if cache_redis_job_control == 'initd' or cache_redis_job_control == 'rcinit' %}
daemonize yes
{% endif %}

# When running daemonized, Redis writes a pid file in /var/run/redis.pid by
# default. You can specify a custom pid file location here.
pidfile {{ cache_redis_piddir }}/redis_{{ cache_redis_name }}.pid

# Accept connections on the specified port, default is 6379.
# If port 0 is specified Redis will not listen on a TCP socket.
port {{ cache_redis_port }}

# TCP listen() backlog.
tcp-backlog {{ cache_redis_tcpbacklog }}

# By default Redis listens for connections from all the network interfaces
# available on the server. It is possible to listen to just one or multiple
# interfaces using the "bind" configuration directive, followed by one or
# more IP addresses.
{% if cache_redis_address is not none %}
bind {{ cache_redis_address if cache_redis_address is string else cache_redis_address | join(' ') }}
{% endif %}

# Protected mode is a layer of security protection.
{% if cache_redis_protected_mode is not none %}
protected-mode {{ cache_redis_protected_mode }}
{% endif %}

# Specify the path for the Unix socket that will be used to listen for
# incoming connections.
{% if cache_redis_unixsocket is not none %}
unixsocket {{ cache_redis_unixsocket }}
{% endif %}
{% if cache_redis_unixsocketperm is not none %}
unixsocketperm {{ cache_redis_unixsocketperm }}
{% endif %}

# Close the connection after a client is idle for N seconds (0 to disable)
timeout {{ cache_redis_timeout }}

# TCP keepalive.
tcp-keepalive {{ cache_redis_keepalive }}

# Set server verbosity
loglevel {{ cache_redis_loglevel }}

# Specify the log file name.
{% if cache_redis_logfile is not none %}
logfile {{ cache_redis_logfile }}
{% endif %}

# To enable logging to the system logger, just set 'syslog-enabled' to yes.
syslog-enabled {{ cache_redis_syslogenabled }}

# Specify the syslog identity.
syslog-ident redis-{{ cache_redis_name }}

# Specify the syslog facility.  Must be USER or between LOCAL0-LOCAL7.
syslog-facility {{ cache_redis_syslogfacility }}

# Set the number of databases.
databases {{ cache_redis_databases }}

################################# TLS/SSL #####################################
{% if cache_redis_tlsport is not none %}
tls-port {{ cache_redis_tlsport }}
{% endif %}
{% if cache_redis_tlscertfile is not none %}
tls-cert-file {{ cache_redis_tlscertfile }}
{% endif %}
{% if cache_redis_tlskeyfile is not none %}
tls-key-file {{ cache_redis_tlskeyfile }}
{% endif %}
{% if cache_redis_tlskeyfilepass is not none %}
tls-key-file-pass {{ cache_redis_tlskeyfilepass }}
{% endif %}
{% if cache_redis_tlsclientcertfile is not none %}
tls-client-cert-file {{ cache_redis_tlsclientcertfile }}
{% endif %}
{% if cache_redis_tlsclientkeyfile is not none %}
tls-client-key-file {{ cache_redis_tlsclientkeyfile }}
{% endif %}
{% if cache_redis_tlsclientkeyfilepass is not none %}
tls-client-key-file-pass {{ cache_redis_tlsclientkeyfilepass }}
{% endif %}
{% if cache_redis_tlsdhparamsfile is not none %}
tls-dh-params-file {{ cache_redis_tlsdhparamsfile }}
{% endif %}
{% if cache_redis_tlscacertfile is not none %}
tls-ca-cert-file {{ cache_redis_tlscacertfile }}
{% endif %}
{% if cache_redis_tlscacertdir is not none %}
tls-ca-cert-dir {{ cache_redis_tlscacertdir }}
{% endif %}
{% if cache_redis_tlsauthclients is not none %}
tls-auth-clients {{ cache_redis_tlsauthclients }}
{% endif %}
{% if cache_redis_tlsreplication is not none %}
tls-replication {{ cache_redis_tlsreplication }}
{% endif %}
{% if cache_redis_tlscluster is not none %}
tls-cluster {{ cache_redis_tlscluster }}
{% endif %}
{% if cache_redis_tlsprotocols is not none %}
tls-protocols {{ cache_redis_tlsprotocols }}
{% endif %}
{% if cache_redis_tlsciphers is not none %}
tls-ciphers {{ cache_redis_tlsciphers }}
{% endif %}
{% if cache_redis_tlsciphersuites is not none %}
tls-ciphersuites {{ cache_redis_tlsciphersuites }}
{% endif %}
{% if cache_redis_tlspreferserverciphers is not none %}
tls-prefer-server-ciphers {{ cache_redis_tlspreferserverciphers }}
{% endif %}
{% if cache_redis_tlssessioncaching is not none %}
tls-session-caching {{ cache_redis_tlssessioncaching }}
{% endif %}
{% if cache_redis_tlssessioncachesize is not none %}
tls-session-cache-size {{ cache_redis_tlssessioncachesize }}
{% endif %}
{% if cache_redis_tlssessioncachetimeout is not none %}
tls-session-cache-timeout {{ cache_redis_tlssessioncachetimeout }}
{% endif %}

################################ SNAPSHOTTING  #################################
#
# Save the DB on disk:
#   save <seconds> <changes>

{% if cache_redis_backuptype == 'rdb' or cache_redis_backuptype == 'both' %}

{% if cache_redis_save is none %}
save 900 1
save 300 10
save 60 10000
{% else %}
{% for save_option in cache_redis_save %}
save {{ save_option }}
{% endfor %}
{% endif %}

# By default Redis will stop accepting writes if RDB snapshots are enabled
# (at least one save point) and the latest background save failed.
stop-writes-on-bgsave-error {{ cache_redis_stopwritesonbgsaveerror }}

# Compress string objects using LZF when dump .rdb databases?
rdbcompression {{ cache_redis_rdbcompression }}

# Since version 5 of RDB a CRC64 checksum is placed at the end of the file.
rdbchecksum {{ cache_redis_rdbchecksum }}

# The filename where to dump the DB
{% if cache_redis_dbfilename %}
dbfilename {{ cache_redis_dbfilename }}
{% else %}
dbfilename dump-{{ cache_redis_name }}.rdb
{% endif %}

{% endif %}

# The working directory.
dir {{ cache_redis_datadir }}

################################# REPLICATION #################################

{% if cache_redis_replicaof is not none %}
replicaof {{ cache_redis_replicaof['address'] }} {{ cache_redis_replicaof['port'] }}
{% endif %}

{% if cache_redis_masterauth is not none %}
masterauth {{ cache_redis_masterauth }}
{% endif %}

replica-serve-stale-data {{ cache_redis_replicaservestaledata }}

replica-read-only {{ cache_redis_replicareadonly }}

repl-diskless-sync {{ cache_redis_repldisklesssync }}

repl-diskless-sync-delay {{ cache_redis_repldisklesssyncdelay }}

repl-ping-replica-period {{ cache_redis_replpingreplicaperiod }}

repl-timeout {{ cache_redis_repltimeout }}

repl-disable-tcp-nodelay {{ cache_redis_repldisabletcpnodelay }}

repl-backlog-size {{ cache_redis_replbacklogsize }}

repl-backlog-ttl {{ cache_redis_replbacklogttl }}

replica-priority {{ cache_redis_replicapriority }}

{% if cache_redis_minreplicastowrite is not none %}
min-replicas-to-write {{ cache_redis_minreplicastowrite }}
{% endif %}
{% if cache_redis_minreplicasmaxlag is not none %}
min-replicas-max-lag {{ cache_redis_minreplicasmaxlag }}
{% endif %}

################################## SECURITY ###################################

{% if cache_redis_requirepass is not none %}
requirepass {{ cache_redis_requirepass }}
{% endif %}

{% if cache_redis_rename_commands is not none %}
{% for k, v in cache_redis_rename_commands.items() %}
rename-command {{ k }} {{ '""' if not v else v }}
{% endfor %}
{% endif %}

################################### LIMITS ####################################

maxclients {{ cache_redis_maxclients }}

{% if cache_redis_maxmemory is not none and cache_redis_maxmemory != '' %}
maxmemory {{ cache_redis_maxmemory }}
{% endif %}

{% if cache_redis_maxmemorypolicy is not none %}
maxmemory-policy {{ cache_redis_maxmemorypolicy }}
{% endif %}

{% if cache_redis_maxmemorysamples is not none %}
maxmemory-samples {{ cache_redis_maxmemorysamples }}
{% endif %}

############################## APPEND ONLY MODE ###############################

{% if cache_redis_backuptype == 'aof' or cache_redis_backuptype == 'both' %}
appendonly yes
{% else %}
appendonly no
{% endif %}

# The name of the append only file (default: "appendonly.aof")
{% if cache_redis_appendfilename %}
appendfilename {{ cache_redis_appendfilename }}
{% else %}
appendfilename appendonly-{{ cache_redis_name }}.aof
{% endif %}

appendfsync {{ cache_redis_appendfsync }}

no-appendfsync-on-rewrite {{ cache_redis_noappendfsynconrewrite }}

auto-aof-rewrite-percentage {{ cache_redis_aofrewritepercentage }}
auto-aof-rewrite-min-size {{ cache_redis_aofrewriteminsize }}

aof-load-truncated {{ cache_redis_aofloadtruncated }}

################################ LUA SCRIPTING  ###############################

lua-time-limit {{ cache_redis_luatimelimit }}

################################## SLOW LOG ###################################

slowlog-log-slower-than {{ cache_redis_slowloglogslowerthan }}

slowlog-max-len {{ cache_redis_slowlogmaxlen }}

############################# EVENT NOTIFICATION ##############################

notify-keyspace-events "{{ cache_redis_notifykeyspaceevents }}"

############################### ADVANCED CONFIG ###############################

hash-max-ziplist-entries {{ cache_redis_hashmaxziplistentries }}
hash-max-ziplist-value {{ cache_redis_hashmaxziplistvalue }}

set-max-intset-entries {{ cache_redis_setmaxintsetentries }}

zset-max-ziplist-entries {{ cache_redis_zsetmaxziplistentries }}
zset-max-ziplist-value {{ cache_redis_zsetmaxziplistvalue }}

hll-sparse-max-bytes {{ cache_redis_hllsparsemaxbytes }}

activerehashing {{ cache_redis_activerehasing }}

{% for c in cache_redis_clientoutputbufferlimit %}
client-output-buffer-limit {{ c | join(' ') }}
{% endfor %}

hz {{ cache_redis_hz }}

aof-rewrite-incremental-fsync {{ cache_redis_aofrewriteincrementalfsync }}

{% if cache_redis_clusterenabled == 'yes' %}
cluster-enabled yes
cluster-config-file {{ cache_redis_clusterconfigfile if cache_redis_clusterconfigfile else 'nodes-' + cache_redis_name + '.conf' }}
cluster-node-timeout {{ cache_redis_clusternodetimeout }}
{% if cache_redis_clusterport is not none %}
cluster-port {{ cache_redis_clusterport }}
{% endif %}
{% endif %}

{% if cache_redis_aclfile is not none %}
aclfile {{ cache_redis_aclfile }}
{% endif %}

################################## INCLUDES ###################################

{% if cache_redis_includes is not none %}
{% for include_option in cache_redis_includes %}
include {{ include_option }}
{% endfor %}
{% endif %}
