description "Start the redis instance on port {{ cache_redis_port }}"
author "Installed by Ansible cache role"
stop on runlevel [06]
respawn
respawn limit 10 30
exec su -s /bin/sh -c 'exec "$0" "$@"' {{ cache_redis_user }} {{ cache_redis_install_dir }}/bin/redis-server {{ cache_redis_config_file }}
