#!/bin/sh
# PROVIDE: redis{{ redis_instance_name }}
# REQUIRE: LOGIN
# BEFORE: securelevel
# KEYWORD: shutdown

. /etc/rc.subr
name="redis{{ redis_instance_name }}"
rcvar="${name}_enable"
command="{{ redis_bin_path }}/redis-server"
pidfile="{{ redis_pid_dir }}/redis_{{ redis_instance_name }}.pid"
load_rc_config "$name"
: ${redis{{ redis_instance_name }}_enable="NO"}
: ${redis_user="{{ redis_user }}"}
: ${redis_config="{{ redis_config_dir }}/{{ redis_instance_name }}.conf"}
command_args="${redis_config}"
required_files="${redis_config}"
run_rc_command "$1"
