#!/bin/sh
# Redis init script
### BEGIN INIT INFO
# Provides: redis{{ cache_redis_port }}
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Description: redis{{ cache_redis_port }} init script
### END INIT INFO

REDISNAME={{ cache_redis_port }}
REDISPORT={{ cache_redis_port }}
EXEC="{{ cache_redis_install_dir }}/bin/redis-server {{ cache_redis_config_dir }}/${REDISNAME}.conf"
CLIEXEC={{ cache_redis_install_dir }}/bin/redis-cli
PIDFILE={{ cache_redis_pid_dir }}/redis_${REDISNAME}.pid

case "$1" in
  start)
    exec su -s /bin/sh -c "$EXEC" {{ cache_redis_user }}
    ;;
  stop)
    $CLIEXEC -p {{ cache_redis_port }} -a '{{ redis_requirepass }}' shutdown
    ;;
  *)
    echo "Please use start or stop as first argument"
    exit 1
    ;;
esac
