[Unit]
Description=FastAPI Tutorial Service
After=network.target postgresql.service

[Service]
Type=simple
User=root
WorkingDirectory={{ fastapi_tutorial_app_dir }}
Environment="PATH={{ fastapi_tutorial_venv_dir }}/bin"
ExecStart={{ fastapi_tutorial_venv_dir }}/bin/uvicorn {{ fastapi_tutorial_asgi_entrypoint }} --host {{ fastapi_tutorial_bind_host }} --port {{ fastapi_tutorial_port }}
Restart=always

[Install]
WantedBy=multi-user.target
