-m {{ memcached_memory }}
-p {{ memcached_port }}
-U {{ memcached_udp_port }}
-l {{ memcached_listen }}
-c {{ memcached_maxconn }}
-u {{ memcached_service_user }}
-I {{ memcached_max_object_size }}
-t {{ memcached_threads }}
-R {{ memcached_ulimit }}
