bind 0.0.0.0
port {{ redis_port }}
tcp-backlog 511
timeout 0
tcp-keepalive 0
daemonize no
supervised no
pidfile {{ redis_pid_dir }}/redis.pid
loglevel {{ redis_loglevel }}
logfile ""
syslog-enabled {{ redis_syslog_enabled }}
syslog-ident redis
syslog-facility {{ redis_syslog_facility }}
databases {{ redis_databases }}
dbfilename dump-6379.rdb
dir {{ redis_data_dir }}
requirepass {{ redis_requirepass }}
{% if redis_masterauth %}masterauth {{ redis_masterauth }}
{% endif %}{% if redis_replicaof %}replicaof {{ redis_replicaof }}
{% endif %}maxclients {{ redis_maxclients }}
rdbcompression yes
rdbchecksum yes
save 900 1
save 300 10
save 60 10000
appendonly no
cluster-enabled no
{% if redis_aclfile %}aclfile {{ redis_aclfile }}
{% endif %}
