[Unit]
Description=Redis (%i) persistent key-value database
Wants=network-online.target
After=network-online.target

[Service]
ExecStart={{ cache_tpl_bin_path }}/redis-server /etc/redis/%i.conf --daemonize no
User={{ cache_tpl_svc_user }}
Group={{ cache_tpl_svc_group }}
LimitNOFILE={{ cache_tpl_limit_nofile }}

[Install]
WantedBy=multi-user.target
