#!/bin/sh

# PROVIDE: redis{{ redis_port }}
# REQUIRE: LOGIN
# KEYWORD: shutdown

#
# Add the following lines to /etc/rc.conf to enable redis:
#
# redis{{ redis_port }}_enable="YES"
#

. /etc/rc.subr

name="redis{{ redis_port }}"
rcvar="${name}_enable"

command="/usr/bin/redis-server"
command_args="/etc/redis/{{ redis_port }}.conf"
pidfile="/var/run/redis/redis_{{ redis_port }}.pid"

# read configuration and set defaults
load_rc_config "$name"
: ${redis{{ redis_port }}_enable="NO"}

run_rc_command "$1"