# This file is deprecated. Please use fail2ban/jail.local.j2 instead.
# This file will be removed in a future update.

# Redirecting to the new template location
{% include 'fail2ban/jail.local.j2' %}